/* TAB - PRODUCT CARD */

.product-card-section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(58, 79, 102, 0.08);
}

.enable-product-cards-row  {
    background: #fbfbfb;
    border: 1px solid #EFF2F6;
}

.product-card-section .description {
    margin-bottom: 10px;
}

/* Product Card Collapsible Settings */
.product-card-settings-collapsible {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
}

.product-card-settings-collapsible.active {
    max-height: 1500px;
}